#symbols {
    pointer-events: none;
    position:absolute;
    top:200px;
    left:0px
}

#animation{
    pointer-events: none;
    position:absolute;
    top:200px;
    left:0px;
}

#score{
    pointer-events:none;
    position:absolute;
    top:200px;
    left:1000px;
}