<h2>War has broken out in Europe. Command your troops and build up your nation to be the dominant
power in Europe.</h2>


<h1>Commanding your army</h1>

        <p>To move troops, click on a territory and then click on an adjacent territory. If there
        are opponent troops in the region, combat will occur. Once you destroy all the enemy troops
        in a region, and reduce the hit points of the region, you will take control of the region.
        If you control the destination territory, troops will automatically start moving. Troops will
        be recruited at regular intervals from regions you control.</p>


<h1>Managing your economy</h1>
        <p>You will get money from each region you control. Money will be used to
        pay for upkeep and buy region upgrades, which will give additional
        economic and military benefits.</p>

        <p> The money received from each region will be based on the population of the region.
        The population of a region will slowly grow over time and is affected by upgrades
        and nearby combat.</p>

<h1>Occupying enemy regions</h1>
        <p>Even if a player can take a region from an opponent, holding onto it and
        gaining the economic benefits will not always be easy. For some time after occupying
        the region, a player will have to deal with enemy rebellion, with regions near
        the opponent's capital will have rebellions lasting for a longer period of time.</p>

<h2>Winning the game</h2>
        <p>A player wins a game by having the most victory points(VP) after a certain
        amount of time. Players will periodically gain VP for occupying
        regions and building upgrades. At the end of the game, players will get bonus VP
        for population</p>

